<!-- views/users/index.ejs -->

<!--
  Listing 18.8 (p. 268)
  index.js에서의 모든 사용자 리스팅
-->

<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="pt-5">
      <h1>Users Table</h1>
      <p>Here are all the users on our site.</p>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- 
            @TODO: 뷰에서 사용자 배열 루핑 탐색 
          -->
        </tbody>
      </table>

      <!-- <div class="mt-5 text-center">
        <a href="/" class="btn ut-red">Delete All Users</a>
      </div> -->
    </div>
  </div>
</main>
