<!-- views/partials/navigation.ejs -->

<!-- 메뉴 -->
<nav class="menu">
  <a class="menu-item" name="Transportation" href="/transportation">교통</a>
  <a class="menu-item" name="Contact" href="/contact">연락</a>
  <a class="menu-item" name="Subscribers" href="/subscribers">구독자</a>
</nav>

<!-- 반응형 메뉴 버튼 -->
<div id="menu-button">Menu</div>
